#search-results-container {
    display: flex;
    overflow: auto;
    margin: 20px;
    white-space: nowrap;
}

.search-result {
    flex: 0 0 auto;
    width: 800px;
    height: 600px;
    margin-right: 10px;
}
